{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "mocha"
  ],
  "extends": "standard",
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1}],
    "semi": ["error", "always"],
    "padded-blocks": "off",
    "valid-typeof": "off",
    "space-before-function-paren": "off",
    "mocha/no-exclusive-tests": "error"
  }
}
